<%= render 'shared/navbar' %>
<div class="container">
  <% @parties.each_with_index do |party, index| %>
    <% if (index % 2  == 0) %>
      <div class="row my-2">
    <% end %>
      <div class="col-6">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos border-bottom">
            <h2><%= party.name %></h2>
          </div>
          <div class="card-trip-infos">
            <p><%= party.current_member %>/<%= party.max_member %></p>
            <button type="button" class="btn btn-outline-primary">Join</button>
          </div>
        </div>
      </div>
    <% if (index % 2 == 1) %>
      </div>
    <% end %>
  <% end %>
</div>


